

.bg-primary {
    background-image: url("assets/Image/kisr.jpg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 185px;
    padding: 20px 10px;
    background-origin: content-box;
    background-color: #0583E8!important;
    
}