
.bg-primary {

    background-image: url("assets/Image/kisr-logo-w.png"),url("assets/Image/sanad-logo.png") ;
    background-repeat: no-repeat;
    background-position: left, right;
    background-size: 185px, 100px;
    padding: 20px 10px;
    background-origin: content-box;
    background-color: #016b88!important;
}



header {
    background-color: #016b88;
    background-image: url("assets/Image/kisr-logo-w.png"),url("assets/Image/sanad-logo.png") ;
    background-repeat: no-repeat;
    background-position: left, right;
    background-size: 185px, 100px;
    padding: 30px;
    text-align: center;
    font-size: 34px;
    font-family: sans-serif;
    color: white;

}

/* h1.text-center {
    font-size: 34px;
    color: white;
    font-family: sans-serif;
} */

h1 {
    font-size: 24px;
    color: #016b88;
    font-family: sans-serif!important;
    font-weight: bolder;
}

/* p {
    font-size: 14px;
    color: white;
    font-family: sans-serif!important;
    text-align: center;
} */
.pb-1 {
    padding: 0px 0px 9px!important;
}

.btn-primary {
    background-color:lightgray!important; 
    color: black;
    font-weight: bold;
    border-radius: 10px;
    width: 50px;
    height: 50px;
    border: none;
    
}

label {
    font-family: serif;
    font-size: 20px;
    font-weight: bold;
}

.lastButton {
    background-color: #016b88!important;
    color: white;
    width: 20%!important;
    height: 60px!important;
    position:relative;
    right: 400px;
    font-weight: bold;
    border-radius: 20px ; 
    margin: 10px;
    
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}


select {
    font-family: serif;
    font-size: 16px!important;
    
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #016b88!important;
    border-color: #285e8e; 
}

select:hover, select:focus, select:active {
    border-color: #87c7fa!important;
}

select {
    border-color: #87c7fa!important;
}

.lastButton:hover {
    color: #fff;
    background-color: #016b88!important;
    /* border-color: #016b88;  */
    border: 6px solid #02313e;
}

footer {
    background-color: #016b88;
    background-image: url("assets/Image/MOH.png");
    background-position: left;
    background-size: 80px, 80px;
    background-repeat: no-repeat;
    padding: 30px;
    text-align: right;
    color: white;
    font-family: sans-serif;
    bottom: 0%;
    width: 100%;
    display: inline-block
} 