
.bg-primary {
    background-image: url("assets/Image/kisr-logo-w.png"),url("assets/Image/sanad-logo.png") ;
    background-repeat: no-repeat;
    background-position: left, right;
    background-size: 185px, 100px;
    padding: 20px 10px;
    background-origin: content-box;
    background-color: #016b88!important;
}

h1.text-center {
    font-size: 34px;
    color: white;
    font-family: sans-serif;
}

h1 {
    font-size: 24px;
    color: #016b88;
    font-family: sans-serif!important;
    font-weight: bolder;
}

p {
    font-size: 14px;
    color: white;
    font-family: sans-serif!important;
    text-align: center;
}
.pb-1 {
    padding: 0px 0px 9px!important;
}

.btn-primary {
    background-color:lightgray!important; 
    color: black;
    font-weight: bold;
    border-radius: 10px;
    width: 50px;
    height: 50px;
    border: none;
    
}

label {
    font-family: serif;
    font-size: 20px;
    font-weight: bold;
}

.lastButton {
    background-color: #016b88!important;
    color: white;
    width: 400px!important;
    height: 60px!important;
    position: absolute!important;
    left: 40%!important;
    
}

select {
    font-family: serif;
    font-size: 16px!important;
    
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #016b88!important;
    border-color: #285e8e; 
}

select:hover, select:focus, select:active {
    border-color: #87c7fa!important;
}

select {
    border-color: #87c7fa!important;
}

.lastButton:hover {
    color: #fff;
    background-color: #016b88!important;
    border-color: #016b88; 
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #016b88;
    
}